@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Web App</h1>
    <p>Check out my <a href="https://jasonballejo.com" target="_blank">PORTFOLIO</a> page.</p>
</div>

